$dark-gray = #111;
$medium-gray = #555;
$light-gray = #EEE;

html,
body {
    background: $light-gray;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.set-wrapper {
    display: flex;
    width: 100%;
}

.set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
}

.selected-set--title,
.set--title {
    color: $dark-gray;
    text-align: center;
    width: 100%;
}

.selected-set {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    order: 1;
    min-width: 320px;
}

.item {
    margin: 10px;
}

.selected-item {
    align-self: center;
    margin: 10px auto;
}

[data-item--selected="true"] {
    box-shadow: 0 0 1px $medium-gray;
    opacity: .75;
}
